<h2>Services Offered</h2>

  <% @services.each do |service| %>
  <div class="services-home">


  <div class="services-offered">
    <div class="services-offered-details">
    <%= link_to new_service_job_path(service) do %>
      <div class="job-title">
    <%= service.trade %>
  </div>
  <% end %>


   <p>Service: <%= service.type_of_service %></p>
   <p>Price: <%= service.price %></p>
   </div>
  </div>

<% end %>
</div>
