<%= form_for @user do |f| %>
  <div class="field-home-address">
     <%= f.label :home_address %><br />
     <%= f.text_field :home_address %>
   </div>

  <div class="actions-home-address">
     <%= f.submit("Update Home Address", method: "put", class: "btn-new-home-address") %>
  </div>

<% end %>
