# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: b2e559b96fd5f95ec80a370e28044596561c6b02dbcd25ff58a7ff53410ad7c0d0928b3888a513d9ef0bbb7c2a165c91b8a24033db27a87adc4495d3cf104041


test:
  secret_key_base: 98c628981fec0a5cb9fd1303ca67205be7fa089108536a8fc7d540414aa7ca890928d588aa265abecdb42395de2d00d8862707dd67c0060423d915439968b4f6

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
