
.site-header {
  text-align: center;
  margin-bottom: 1rem;
  background-color: lightgrey;
  padding: 8px 0 15px 0;
  border-bottom: 2px solid black;
}

.logo {
  margin: 0;
  text-align: center;
  line-height: 50px;
  font-size: 1.5rem;
}

body {
  margin: 0;
}
