html,
body {
  font-family: 'Lato', 'Arial', sans-serif;
  background: url("/images/background.png");

}


.site-header {
  text-align: right;
  // background-color: rgba(110, 179, 250, 0.97);
  border-bottom: 1px solid black;
  -webkit-box-shadow: 0 0 20px #ccc;
  width: 100%;
  z-index: 100;

  // position: fixed;
  top: 0;
  padding-right: 25px;
  // padding-top: 20px;
  // line-height: 30px;
  font-size: 1.1rem;
}

.logo {
  margin: 0;
  text-align: left;
  padding-left: 15px;
  padding-top: 20px;
  line-height: 30px;
  font-size: 1.5rem;
  float: left;

}

.logo a {
  text-decoration: none;
  color: rgb(34, 36, 30);

}
body {
  margin: 0;
}

main {
clear: both;
}

h1.logo {
  width: 30px;
}
nav.site-nav {
    padding: 30px 10px 0 0;
    /* float: right; */
}


.site-nav a {
  text-decoration: none;
}

footer {

  width: 100%;
  height: 40px;
  padding-top: 1px;
  background-color: rgba(5, 122, 244, 0.4);
  color: rgb(55, 42, 50);
  // clear: both;
  text-align: center;
  clear: both;
}


.flash-notice {
  background-color: red;
  height: 22px;
  text-align: center;
  color: white;
  padding: 10px;
  z-index: 90;
  font-weight: 500;
}

.flash-error{
  background-color: red;
  height: 22px;
  text-align: center;
  color: white;
  padding: 10px;
  z-index: 90;
  font-weight: 500;
}

.flash-alert{
  background-color: red;
  height: 22px;
  text-align: center;
  color: white;
  padding: 10px;
  z-index: 90;
  font-weight: 500;
}
