html,
body {
  font-family: 'Lato', 'Arial', sans-serif;
}


.site-header {
  text-align: center;
  background-color: lightgrey;
  padding: 8px 0 0 0;
  border-bottom: 2px solid black;
  width: 100%;
  position: fixed;
  top: 0;
}

.logo {
  margin: 0;
  text-align: left;
  padding-left: 15px;
  line-height: 50px;
  font-size: 1.5rem;
}

.logo a {
  text-decoration: none;
  color: rgb(34, 36, 30);

}
body {
  margin: 0;
}

.site-nav {
  position: fixed;
  right: 15px;
  top: 27px;
}

.site-nav a {
  text-decoration: none;
}

// .site-footer {
//   position: fixed;
//   bottom: 0;
//   width: 100%;
//   height: 50px;
//   text-align: center;
//   background-color: black;
//   color: white;
// }
