// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.book-service {
  border: 1px solid lightgrey;
  margin: auto;
  padding-left: 15px;
  padding-bottom: 20px;
  width: 50%;
  text-align: center;
}
.field-job {
  padding-left: 15px;
  font-weight: 700;
}
.field-job input {
    width: 90%;
    padding: 12px 12px;
    margin: 8px 8px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.field-job input:focus {
    border: 3px solid #ffc563;
}
