// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.job-form, .job-show {
  border: 1px solid black;
  width: 70%;
  text-align: center;
  padding: 5px;
  line-height: 30px;
  margin: 100px auto 0 auto;
}

.job-show a {
  text-decoration: none;
}

.book-service {
  border: 1px solid lightgrey;
  margin: auto;
  padding-left: 15px;
  padding-bottom: 20px;
  width: 50%;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;

}
// .field-job {
//   padding-left: 15px;
//   width: 44%;
//   text-align: center;
//   font-weight: 700;
//   padding: 5px;
//   margin: auto;
//   line-height: 30px;
// }

.btn-new-job {
display: inline-block;
text-align: center;
padding: 6px;
font-size: 24px;
width: 70%;
cursor: pointer;
margin-bottom: 10px;
text-decoration: none;
outline: 1px solid rgba(214, 214, 214, 0.68);
color: #000;
background-color: #fff;
border: none;
border-radius: 1px;
box-shadow: 0 4px #999;
}

.btn-new-job:hover {
background-color: #242424;
color: #fff;
}

.btn-new-job:active {
background-color: rgba(#3298eb, 0.84);
box-shadow: 0 2px #666;
transform: translateY(2px);
}

.job-details {
  padding: 0px;
  font-size: 150%;
}

label#new_job_note {
  // vertical-align: top;
  // padding-bottom: 15px;
}

select#job_service_id{
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 20px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 80%;
}

select#job_date_4i{
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
  //  margin: 20px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 23%;
}

select#job_date_5i{
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
  //  margin: 20px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 15%;
}

textarea#job_note {
  width: 60%;
  min-height: 20px;
}
