// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.book-service {
  border: 1px solid lightgrey;
  margin: auto;
  padding-left: 15px;
  padding-bottom: 20px;
  width: 50%;
  text-align: center;
}
.field-job {
  padding-left: 15px;
  width: 44%;
  text-align: center;
  font-weight: 700;
  border: 1px solid lightgrey;
  padding: 15px;
  margin: auto;
  line-height: 30px;
}
