// Place all the styles related to the services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.root-banner {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/home-img.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/home-img.jpg");
    background-size: cover;
    // background-position: 50% 50%;
    top: -100px;
    height: 80vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;

}

.banner-text {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;


}

.services-offered {
  border: 1px solid lightgrey;
  // margin: 0px 15px 15px 15px ;
  width: 23%;
  background-color: rgb(234, 238, 213);
  float: left;
  margin: 20px 14px;
}

.services-offered-details {
  text-align: center;
  padding-top: 20px;
  line-height: 15px;
  font-size: 150%;

}

.services-offered-details a {
  text-decoration: none;
  color: rgb(34, 36, 30);

}

.job-title {
  text-transform: capitalize;
  font-size: 150%;
  padding-top: 20px;
}
// 
// .services-home {
//   overflow: hidden;
//   min-height: 500px;
//   margin: auto auto;
//   margin-bottom: 50px;
//
// }

.services-offered-home {
  padding: 30px;
  // border: 1px solid lightgrey;
  text-align: center;
font-size: 35px;

}
.book-service-button {
  text-align: center;
  padding-bottom: 10px;
}


.btn-book-home {
padding: 6px;
font-size: 24px;
width: 90%;
cursor: pointer;
text-decoration: none;
outline: 1px solid rgba(214, 214, 214, 0.68);
color: #000;
background-color: #fff;
border: none;
border-radius: 1px;
box-shadow: 0 2px #999;
margin-left: 17px;
margin-bottom: 20px;
}

.btn-book-home:hover {
background-color: #242424;
color: #fff;
}

.btn-book-home:active {
background-color: rgba(#3298eb, 0.84);
box-shadow: 0 2px #666;
transform: translateY(2px);
}

select#service_trade_id{
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 20px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 85%;
}
