// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.side-menu {
position: fixed;
top: 100;
z-index: 99;
background-color: rgba(#f9f9f9, 0.81);
width: 180px;
border: 1px solid black;
margin-left: 17px;
margin-top: 50px;

}

.dashboard-feed {
  margin-left: 213px;
  border: 1px solid lightgrey;
  padding-left: 9px;
  width: 80%;
  margin-top: 70px;
  margin-bottom: 100px;
}

.jobs-dashboard {
  border: 1px solid lightgrey;
  min-height: 400%;
  width: 90%;
  margin-bottom: 10px;
  padding: 10px;
  display: none;
}

.account-side-menu ul {
  border: 1px solid red;
  padding-left: 0;
  padding-bottom: 15px;
}

.service-side-menu ul {
  border: 1px solid blue;
  padding-left: 0;
  padding-bottom: 15px;}

.job-side-menu {
  border: 1px solid green;
  padding-left: 0;
  padding-bottom: 15px;
}

.account-side-menu a {
  text-decoration: none;
}

.service-side-menu a {
  text-decoration: none;
}
.user-dashboard {
  font-size: 25px;
  font-weight: 800;
  padding-left: 17px;
}

.side-menu ul {
list-style: none;
padding: none;
margin: none;
}

.user-new {
    border: 1px solid lightgrey;
    margin: 30px auto;
    padding-left: 15px;
    padding-bottom: 20px;
    width: 50%;
    text-align: center;
    margin-top: 100px;

  }
  .field-new-user {
    // padding-left: 15px;
    font-weight: 700;
  }
  .field-new-user input {
      width: 90%;
      padding: 12px 12px;
      margin: 8px 8px;
      box-sizing: border-box;
      border: 3px solid #ccc;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      outline: none;
  }

  .field-new-user input:focus {
      border: 3px solid #ffc563;
  }

  .actions-new-user {
    text-align: left;
    padding-left: 25px;
  }

  .actions-new-user a {
  text-decoration: none;
}

.btn-new-user {
display: inline-block;
text-align: center;
padding: 6px;
font-size: 24px;
width: 95%;
cursor: pointer;
margin: 10px auto;
text-decoration: none;
outline: 1px solid rgba(214, 214, 214, 0.68);
color: #000;
background-color: #fff;
border: none;
border-radius: 1px;
box-shadow: 0 4px #999;

}

.btn-new-user:hover {
background-color: #242424;
color: #fff;
}

.btn-new-user:active {
background-color: rgba(#3298eb, 0.84);
box-shadow: 0 5px #666;
transform: translateY(4px);
}

.btn-new-home-address {
display: inline-block;
text-align: center;
padding: 6px;
font-size: 24px;
width: 95%;
cursor: pointer;
margin: 10px auto;
text-decoration: none;
outline: 1px solid rgba(214, 214, 214, 0.68);
color: #000;
background-color: #fff;
border: none;
border-radius: 1px;
box-shadow: 0 4px #999;
font-size: 80%;

}

.btn-new-home-address:hover {
background-color: #242424;
color: #fff;
}

.btn-new-home-address:active {
background-color: rgba(#3298eb, 0.84);
box-shadow: 0 5px #666;
transform: translateY(4px);
}


.show {
  display: inline-block;

}

.wtv {
  width: 30%;
  margin: auto auto;
  vertical-align: top;
}
