// Place all the styles related to the user_sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-login {
    border: 1px solid lightgrey;
    margin: 30px auto;
    padding-left: 15px;
    padding-bottom: 20px;
    width: 50%;
    text-align: center;

  }

  .remember-submit, .actions-session {
    text-align: left;
    padding-left: 15px;
  }

  .actions-session a {
    text-decoration: none;
  }

  .field-session {
    font-weight: 700;
  }

  .field-session input {
      width: 90%;
      padding: 12px 12px;
      margin: 8px 8px;
      box-sizing: border-box;
      border: 3px solid #ccc;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      outline: none;
  }

  .field-session input:focus {
      border: 3px solid #ffc563;
  }

  .btn-session {
  display: inline-block;
  text-align: center;
  padding: 8px;
  font-size: 24px;
  width: 95%;
  cursor: pointer;
  margin: 10px;

  text-decoration: none;
  outline: 1px solid rgba(214, 214, 214, 0.68);
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 1px;
  box-shadow: 0 4px #999;
  margin: auto;
}

.btn-session:hover {
  background-color: #242424;
  color: #fff;
}

.btn-session:active {
  background-color: rgba(#3298eb, 0.84);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.session-rmbr {
  text-align: left;
  padding: 0 0 10px 15px;
}
