// Place all the styles related to the user_sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-login {
    border: 1px solid lightgrey;
    margin: 30px auto;
    padding-left: 15px;
    padding-bottom: 20px;
    width: 50%;
    text-align: center;

  }

  .remember-submit, .actions-session {
    text-align: left;
    padding-left: 15px;
  }

  .actions-session a {
    text-decoration: none;
  }
  

  .field-session {
    font-weight: 700;
  }
  .field-session input {
      width: 90%;
      padding: 12px 12px;
      margin: 8px 8px;
      box-sizing: border-box;
      border: 3px solid #ccc;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      outline: none;
  }

  .field-session input:focus {
      border: 3px solid #ffc563;
  }
