// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
    color: rgb(0, 66, 144);
}

a:active {
    text-decoration: none;
    color: rgb(0, 66, 144);
}
li {
  list-style: none;
}

// .account-side-menu {
//   text-decoration: none;
//   width: 230px;
//   margin: 80px  15px 10px 8px;
//   // border: 1px solid black;
//   position: fixed;
//   top: 20px;
// }
//
// .account-side-menu li {
//   height: 60px;
//   width: 90%;
//   border: none;
//   border-radius: 1px;
//   box-shadow: 1px 1px 1px 1px #999;
//   margin: 10px auto;
//
// }
//
// .account-side-menu ul {
//   list-style: none;
//   padding-left: 0;
//   margin-top: 0;
// }
//
// .account-side-menu button {
//   height: 100%;
//   width: 100%;
//   font-size: 22px;
//   background-color: rgba(#000103, 1);
//   color: #fff;
// }
.side-menu {
position: fixed;
z-index: 99;
background-color: rgba(#f9f9f9, 0.81);
width: 230px;
// border: 1px solid black;
margin-left: 8px;
height: 500px;
margin-right: 15px;
top: 90px;

}

.side-menu ul {
list-style: none;
padding-left: 0;
margin-top: 0;
}

  .side-menu li {
  // border: 1px solid black;
  text-align: center;
  height: 100px;
  margin: 10px auto;
  font-size: 22px;
  font-weight: 600;
  // padding: 50px 15px;
  width: 90%;
  border: none;
  border-radius: 1px;
  box-shadow: 1px 1px 1px 1px #999;
  font-size: 80%;

  }

  .side-menu button {
    height: 100%;
    width: 100%;
    font-size: 22px;
    background-color: rgba(#000103, 1);
    color: #fff;


  }
button:focus {
  outline: 0;
}
.side-menu button:focus {
  border: 3px solid rgba(#3298eb, 0.84);
}
.side-menu button:hover {
  background-color: #242424;
  color: #fff;
  }

.side-menu button:active {
  background-color: rgba(#3298eb, 0.84);
  box-shadow: 0 1px #666;
  transform: translateY(1px);
  }


// .side-menu li:first-child {
// margin-top: 0;
// }
// .side-menu li:nth-last-child(2) {
// font-size: 18px;
// }



.dashboard-feed {
  left: 250px;
  // border: 5px solid rgb(80, 155, 255);
  padding-left: 9px;
  width: 80%;
  margin-bottom: 100px;
  position: absolute;
  top: 100px;
}

.dashboard-categories-boxes {
  border: 1px dashed lightgrey;
  width: 74%;
  height: 222px;
  margin: auto auto 20px auto;
}
.dashboard-categories-boxes button {
  border: 1px solid lightgrey;
  background-color: white;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  margin: 10px;
  vertical-align: top;
  width: 150px;
  height: 80px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dashboard-categories-boxes button:hover {
background-color: #faf4dc;
// color: #fff;
}

.dashboard-categories-boxes button:active {
background-color: rgba(#3298eb, 0.84);
box-shadow: 0 1px #666;
transform: translateY(1px);
}

.dashboard-categories-boxes h2 {
text-align: center;
margin: 10px auto 0 auto;
}

.dashboard-categories-boxes ul {
  display: inline-block;
  margin: 10px 130px;
  padding-left: 0px;
  height: 200px;
  width: 150%;
}
#jobs-offers {
  border: none;
}

#jobs-personal {
  border: none;
}

.jobs-dashboard {
  border: 1px solid lightgrey;
  min-height: 400%;
  width: 97%;
  margin: 0 auto 20px auto;
  padding: 10px;
  display: none;
}
.jobs-dashboard h1 {
  text-align: center;
  text-decoration: underline;
}

.requested{
// border: 4px solid red;
// line-height: 3px;
background-color: rgba(45, 121, 250, 0.44);
display: inline-block;
margin: 10px 10px 20px 10px;
padding: 15px 10px 20px 10px;
text-decoration: none;
list-style: none;

box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.requested ul{
// line-height: 1px;
text-decoration: none;
list-style: none;
padding-left: 0;
margin: 0;
}

  .requested li:last-child{
  color: red;
}

.worker-done-review {
  color: red;
  font-weight: 700;
  text-transform: uppercase;
}


.job-address p {
  word-break: break-all;
  color: red;
}

.service-side-menu ul {
  border: 1px solid blue;
  padding-left: 0;
  padding-bottom: 15px;}

.job-side-menu {
  border: 1px solid green;
  padding-left: 0;
  padding-bottom: 15px;
}

// .job-title-user li {
//   text-decoration: none;
//   list-style: none;
//   padding-left: 0;
// }

h2.job-title-user  {
margin: 0;
line-height: 2px;
  padding-top: 0px;
}

.service-side-menu a {
  text-decoration: none;
}
.user-dashboard {
  font-size: 25px;
  font-weight: 800;
  padding-left: 17px;
}

.user-new {
    border: 1px solid lightgrey;
    margin: 30px auto;
    padding-left: 15px;
    padding-bottom: 20px;
    width: 50%;
    text-align: center;
    margin-top: 100px;

  }
  .field-new-user {
    // padding-left: 15px;
    font-weight: 700;
  }
  .field-new-user input {
      width: 90%;
      padding: 12px 12px;
      margin: 8px 8px;
      box-sizing: border-box;
      border: 3px solid #ccc;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      outline: none;
  }

  .field-new-user input:focus {
      border: 3px solid #ffc563;
  }

  .actions-new-user {
    text-align: left;
    padding-left: 25px;
  }

  .actions-new-user a {
  text-decoration: none;
}

.btn-new-user {
display: inline-block;
text-align: center;
padding: 6px;
font-size: 24px;
width: 95%;
cursor: pointer;
margin: 10px auto;
text-decoration: none;
outline: 1px solid rgba(214, 214, 214, 0.68);
color: #000;
background-color: #fff;
border: none;
border-radius: 1px;
box-shadow: 0 4px #999;

}

.btn-new-user:hover {
background-color: #242424;
color: #fff;
}

.btn-new-user:active {
background-color: rgba(#3298eb, 0.84);
box-shadow: 0 5px #666;
transform: translateY(4px);
}

.btn-new-home-address {
display: inline-block;
text-align: center;
padding: 6px;
font-size: 24px;
width: 95%;
cursor: pointer;
margin: 10px auto;
text-decoration: none;
outline: 1px solid rgba(214, 214, 214, 0.68);
color: #000;
background-color: #fff;
border: none;
border-radius: 1px;
box-shadow: 0 4px #999;
font-size: 80%;

}

.btn-new-home-address:hover {
background-color: #242424;
color: #fff;
}

.btn-new-home-address:active {
background-color: rgba(#3298eb, 0.84);
box-shadow: 0 5px #666;
transform: translateY(4px);
}


.show {
  display: inline-block;
}

.wtv {
  width: 47%;
  margin: 10px 5px;
  vertical-align: top;
}

.show2 {
  display: none;
}

#personal-details {
  display: none;
}
