// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
    color: rgb(0, 66, 144);
}

a:active {
    text-decoration: none;
    color: rgb(0, 66, 144);
}
li {
  list-style: none;
}

// .account-side-menu {
//   text-decoration: none;
//   width: 230px;
//   margin: 80px  15px 10px 8px;
//   // border: 1px solid black;
//   position: fixed;
//   top: 20px;
// }
//
// .account-side-menu li {
//   height: 60px;
//   width: 90%;
//   border: none;
//   border-radius: 1px;
//   box-shadow: 1px 1px 1px 1px #999;
//   margin: 10px auto;
//
// }
//
// .account-side-menu ul {
//   list-style: none;
//   padding-left: 0;
//   margin-top: 0;
// }
//
// .account-side-menu button {
//   height: 100%;
//   width: 100%;
//   font-size: 22px;
//   background-color: rgba(#000103, 1);
//   color: #fff;
// }
.side-menu-admin {
z-index: 99;
background-color: rgba(#f9f9f9, 0.81);
width: 230px;
// border: 1px solid black;
margin-left: 8px;
height: 500px;
margin-right: 15px;
top: 90px;
float: left;

}

.side-menu-admin ul {
list-style: none;
padding-left: 0;
margin-top: 0;
}

  .side-menu-admin li {
  // border: 1px solid black;
  text-align: center;
  height: 100px;
  margin: 10px auto;
  font-size: 22px;
  font-weight: 600;
  // padding: 50px 15px;
  width: 90%;
  border: none;
  border-radius: 1px;
  box-shadow: 1px 1px 1px 1px #999;
  font-size: 80%;
  }

  .side-menu-admin input {
    height: 100%;
    width: 100%;
    font-size: 22px;
    background-color: rgba(#000103, 1);
    color: #fff;
  }

.side-menu-admin input a {
    color: white;
  }
.side-menu-admin input a:visited {
  color: white;
}
input:focus {
  outline: 0;
}
.side-menu-admin input:focus {
  border: 3px solid rgba(#3298eb, 0.84);
}
.side-menu-admin input:hover {
  background-color: #242424;
  color: #fff;
  }

.side-menu-admin input:active {
  background-color: rgba(#3298eb, 0.84);
  box-shadow: 0 1px #666;
  transform: translateY(1px);
  }

  .side-menu-admin input {
    height: 100%;
    width: 100%;
    font-size: 22px;
    background-color: rgba(#000103, 1);
    color: #fff;
  }

.side-menu-admin button a {
    color: white;
  }
.side-menu-admin button a:visited {
  color: white;
}
button:focus {
  outline: 0;
}
.side-menu-admin button:focus {
  border: 3px solid rgba(#3298eb, 0.84);
}
.side-menu-admin button:hover {
  background-color: #242424;
  color: #fff;
  }

.side-menu-admin button:active {
  background-color: rgba(#3298eb, 0.84);
  box-shadow: 0 1px #666;
  transform: translateY(1px);
  }

  .side-menu-admin button {
    height: 100%;
    width: 100%;
    font-size: 22px;
    background-color: rgba(#000103, 1);
    color: #fff;
  }


.side-menu {
// position: fixed;
z-index: 50;
background-color: rgba(#f9f9f9, 0.81);
width: 230px;
// border: 1px solid black;
margin-left: 8px;
height: 500px;
margin-right: 15px;
top: 90px;
float: left;

}

.side-menu ul {
list-style: none;
padding-left: 0;
margin-top: 0;
}

  .side-menu li {
  // border: 1px solid black;
  text-align: center;
  height: 70px;
  margin: 10px auto;
  font-size: 22px;
  font-weight: 600;
  // padding: 50px 15px;
  width: 90%;
  border: none;
  border-radius: 1px;
  box-shadow: 1px 1px 1px 1px #999;
  font-size: 80%;

  }

  .side-menu button {
    height: 100%;
    width: 100%;
    font-size: 22px;
    background-color: rgba(#000103, 1);
    color: #fff;
  }

.side-menu button a {
    color: white;
  }
.side-menu button a:visited {
  color: white;
}
button:focus {
  outline: 0;
}
.side-menu button:focus {
  border: 3px solid rgba(#3298eb, 0.84);
}
.side-menu button:hover {
  background-color: #242424;
  color: #fff;
  }

.side-menu button:active {
  background-color: rgba(#3298eb, 0.84);
  box-shadow: 0 1px #666;
  transform: translateY(1px);
  }


// .side-menu li:first-child {
// margin-top: 0;
// }
// .side-menu li:nth-last-child(2) {
// font-size: 18px;
// }



.dashboard-feed {
  border: 3px solid black;
  box-shadow: 3px #999;

  padding-left: 9px;
  width: 80%;
  margin-left: 280px;
  margin-top: 20px;
  margin-bottom: 170px;
  min-height: 600px;
  background-color: white;

}
.dashboard-categories-boxes {
  border: 1px dashed lightgrey;
  width: 90%;
  height: 300px;
  margin: auto auto 20px auto;
  background: url("/images/background.png");
}

div#jobs-personal img {
    width: 250px;
    border: 1px solid;
    border-radius: 15px;
}


.dashboard-categories-boxes button {
  border: 1px solid lightgrey;
  background-color: white;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  margin: 10px;
  vertical-align: top;
  width: 150px;
  height: 80px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dashboard-categories-boxes button:hover {
background-color: #faf4dc;
// color: #fff;
}

.dashboard-categories-boxes button:active {
background-color: rgba(#3298eb, 0.84);
box-shadow: 0 1px #666;
transform: translateY(1px);
}

.dashboard-categories-boxes h2 {
text-align: center;
margin: 10px auto 0 auto;
}

.dashboard-categories-boxes ul {
  display: inline-block;
  margin: 30px 65px;
  padding-left: 0px;
  height: 200px;
}
#jobs-offers {
  border: none;
}

#jobs-personal {
  border: none;
}

.user-to-worker {
  margin-top: 220px;

}

.jobs-dashboard {
  border: 1px solid lightgrey;
  min-height: 400%;
  width: 97%;
  margin: 0 auto 20px auto;
  padding: 10px;
  display: none;
  background: url("/images/background.png");

}
.jobs-dashboard h1 {
  text-align: center;
}

.requested{
border: 1px solid rgba(45, 121, 250, 0.74);
// line-height: 3px;
background-color: rgba(45, 121, 250, 0.14);
display: inline-block;
margin: 10px 10px 20px 10px;
padding: 22px 20px 20px 20px;
text-decoration: none;
list-style: none;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-radius: 4px;
float: left;
min-width: 400px;
}

.requested img{
width: 33%;
border-radius: 4px;
// display: inline-block;
float: right;
padding-right: 70px;
margin-right: 20px;
}
.worker-name li {
  float: right;
}

.requested ul{
// line-height: 1px;
text-decoration: none;
list-style: none;
padding-left: 0;
margin: 0;
}

.requested li {
  width: 50%;
  margin-right: 0;
}

  .requested li:last-child{
  // color: red;
}

.worker-done-review {
  // color: red;
  font-weight: 700;
  text-transform: uppercase;
}


.job-address p {
  word-break: break-all;
  // color: red;
}

.service-side-menu ul {
  border: 1px solid blue;
  padding-left: 0;
  padding-bottom: 15px;}

.job-side-menu {
  border: 1px solid green;
  padding-left: 0;
  padding-bottom: 15px;
}

// .job-title-user li {
//   text-decoration: none;
//   list-style: none;
//   padding-left: 0;
// }

h2.job-title-user  {
margin: 0;
line-height: 2px;
  padding-top: 0px;
}

.service-side-menu a {
  text-decoration: none;
}
.user-dashboard {
  // font-size: 25px;
  // font-weight: 800;
  // padding-left: 17px;
}

.user-new {
    border: 1px solid lightgrey;
    margin: 30px auto;
    padding-left: 15px;
    padding-bottom: 20px;
    width: 50%;
    text-align: center;
    margin-top: 100px;

  }
  .field-new-user {
    // padding-left: 15px;
    font-weight: 700;
  }
  .field-new-user input {
      width: 90%;
      padding: 12px 12px;
      margin: 8px 8px;
      box-sizing: border-box;
      border: 3px solid #ccc;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      outline: none;
  }

  .field-new-user input:focus {
      border: 3px solid #ffc563;
  }

  .actions-new-user {
    text-align: left;
    padding-left: 25px;
  }

  .actions-new-user a {
  text-decoration: none;
}

.btn-new-user {
display: inline-block;
text-align: center;
padding: 6px;
font-size: 24px;
width: 95%;
cursor: pointer;
margin: 10px auto;
text-decoration: none;
outline: 1px solid rgba(214, 214, 214, 0.68);
color: #000;
background-color: #fff;
border: none;
border-radius: 1px;
box-shadow: 0 4px #999;

}

.btn-new-user:hover {
background-color: #242424;
color: #fff;
}

.btn-new-user:active {
background-color: rgba(#3298eb, 0.84);
box-shadow: 0 5px #666;
transform: translateY(4px);
}

.btn-new-home-address {
display: inline-block;
text-align: center;
padding: 6px;
font-size: 24px;
width: 95%;
cursor: pointer;
margin: 10px auto;
text-decoration: none;
outline: 1px solid rgba(214, 214, 214, 0.68);
color: #000;
background-color: #fff;
border: none;
border-radius: 1px;
box-shadow: 0 4px #999;
font-size: 80%;

}

.btn-new-home-address:hover {
background-color: #242424;
color: #fff;
}

.btn-new-home-address:active {
background-color: rgba(#3298eb, 0.84);
box-shadow: 0 5px #666;
transform: translateY(4px);
}


.show {
  display: inline-block;
}


.jobs-dashboard.show.trade {
  margin-bottom: 50px;
}

// .jobs-dashboard.show.admin {
// width: 40%;
// margin: 10px 50px;
// vertical-align: top;
//
// }


div#jobs-offers {
  background: none;
}
.wtv {
  width: 47%;
  margin: 10px 5px;
  margin-bottom: 150px;
  vertical-align: top;
}

.show2 {
  display: none;
}

#personal-details {
  display: none;
}

// .book-service-button {
//   text-align: center;
//   padding-bottom: 10px;
// }

.user-to-worker li {
  border: 1px solid rgba(103, 41, 255, 0.75);
    padding: 22px 30px 10px 15px;
    height: 40px;
    width: 50%;
    background-color:rgba(20, 0, 247, 0.1);
    border-radius: 3px;


}
.user-to-worker button {
// padding: 6px;
font-size: 14px;
width: 20%;
cursor: pointer;
text-decoration: none;
outline: 1px solid rgba(214, 214, 214, 0.68);
color: #000;
background-color: #fff;
border: none;
border-radius: 3px;
margin-left: 57px;
border: 1px solid rgba(103, 41, 255, 0.75);
}

.user-to-worker button:hover {
background-color: #242424;
color: #fff;
}

.user-to-worker button:active {
background-color: rgba(#3298eb, 0.84);
box-shadow: 0 1px #666;
transform: translateY(1px);
}
