// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.side-menu {
position: fixed;
top: 100;
z-index: 99;
background-color: rgba(#f9f9f9, 0.81);
width: 180px;
border: 1px solid black;
margin-left: 17px;
}

.dashboard-feed {
  margin-left: 213px;
  border: 1px solid lightgrey;
  padding-left: 9px;
  width: 50%;
}
.account-side-menu ul {
  border: 1px solid red;
  padding-left: 0;
  padding-bottom: 15px;
}

.service-side-menu ul {
  border: 1px solid blue;
  padding-left: 0;
  padding-bottom: 15px;}

.job-side-menu {
  border: 1px solid green;
  padding-left: 0;
  padding-bottom: 15px;
}

.account-side-menu a {
  text-decoration: none;
}

.service-side-menu a {
  text-decoration: none;
}
.user-dashboard {
  font-size: 25px;
  font-weight: 800;
  padding-left: 17px;
}

.side-menu ul {
list-style: none;
padding: none;
margin: none;
}
