<%= form_for [@trade] do |f| %>

  <div class="">
    <%= f.label :name %>
    <%= f.date_select :name %>
  </div>




  <br><div class="field-job">
     <%= f.submit(class: "") %>
  </div>


<br><% end %>
